{% extends 'base2.html' %}

{% block content %}
    <div class="w3-panel w3-black" style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%;width:35%">
        <h3 class="w3-opacity">Insira o path do ficheiro dos Consultas:</h3><br>
            <form action="/alves_lda/gestor/{{username}}/povoar/populate_consultas/popular" method="post">
                {% csrf_token %}
                    <table>
                     {{form.as_table}}
                    </table>
                 <div align="center">
                     <input type="submit" value="Submit"/>
                 </div><br>
            <button class="button button4"><a href="/alves_lda/gestor/{{username}}/povoar/">Voltar</a></button>
            </form>
    </div>
{% endblock %}