<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<header class="w3-container w3-black">
        <div class="w3-container w3-center w3-brand-logo">
            <h1><b>Clínica Alves_LDA<b></h1>
        </div>
 </header>
<head>
    <style>
        body{background-color: lavenderblush;}
    </style>
</head>
{% block content %}

<h2 class="w3-opacity">Lista de Utentes:</h2>
<button class="button button4"><a href="/alves_lda/gestor/{{username}}/">Voltar</a></button><br><br>
        <br><table border="1">
            <tr>
                <td style="text-align: center; vertical-align: middle;"><b>Nome</b></td>
                <td style="text-align: center; vertical-align: middle;"><b>Morada</b></td>
                <td style="text-align: center; vertical-align: middle;"><b>NIF</b></td>
                <td style="text-align: center; vertical-align: middle;"><b>CC</b></td>
                <td style="text-align: center; vertical-align: middle;"><b>Data de Nascimento</b></td>
                <td style="text-align: center; vertical-align: middle;"><b>NrºUtente</b></td>
                <td style="text-align: center; vertical-align: middle;"><b>Telefone</b></td>
                <td style="text-align: center; vertical-align: middle;"><b>Telefone Emergencia</b></td>
                <td style="text-align: center; vertical-align: middle;"><b>Email</b></td>
            </tr>
            <tr>
            {% for item in utente %}
                <td style="text-align: center; vertical-align: middle;">{{item.nome}}</td>
                <td style="text-align: center; vertical-align: middle;">{{item.morada}}</td>
                <td style="text-align: center; vertical-align: middle;">{{item.nif}}</td>
                <td style="text-align: center; vertical-align: middle;">{{item.cc}}</td>
                <td style="text-align: center; vertical-align: middle;">{{item.datanasc}}</td>
                <td style="text-align: center; vertical-align: middle;">{{item.numutente}}</td>
                <td style="text-align: center; vertical-align: middle;">{{item.telefone}}</td>
                <td style="text-align: center; vertical-align: middle;">{{item.telefone_emergencia}}</td>
                <td style="text-align: center; vertical-align: middle;">{{item.email}}</td>
            </tr>
            {% endfor %}
        </table><br><br>

    </div>
{% endblock %}