{% extends 'base2.html' %}

{% block content %}
    <div class="w3-panel w3-black" style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%;width:35%">
        <h3 class="w3-opacity">Marque o Exame pretendido:</h3>
            <form action="/alves_lda/medico/{{username}}/realizar_consulta/adicionar/marcar_exame/submeter/{{id}}/{{idu}}" method="post">
                {% csrf_token %}
                    <table>
                     {{form.as_table}}
                    </table>
                 <div align="center">
                    <br><input type="submit" value="Submit"/>
                 </div>
            <br><h6>Caso já tenha marcado o Exame, clique em: <input type=button value="Voltar" onClick="javascript:history.go(-1);"> </h6>
            </form>
    </div>
{% endblock %}