<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<header class="w3-container w3-black">
        <div class="w3-container w3-center w3-brand-logo">
            <h1><b>Clínica Alves_LDA<b></h1>
        </div>
 </header>

<head>
    <style>
        body{background-color: lavenderblush;}
    </style>
</head>

{% block content %}

    <h2 class="w3-opacity"/>Lista de Medicamentos da Prescrição pretendida:</h2>
        <center><table border="1">
        <tr>
            <td style="text-align: center; vertical-align: middle;"><b>ID do Medicamento</b></td>
            <td style="text-align: center; vertical-align: middle;"><b>DCI:</b></td>
            <td style="text-align: center; vertical-align: middle;"><b>Nome:</b></td>

        </tr>
        {% for item in medicamentos %}
        <tr>
            <td style="text-align: center; vertical-align: middle;">{{ item.id_medicamento }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ item.dci }}</td>
            <td style="text-align: center; vertical-align: middle;">{{ item.nome }}</td>

        </tr>
        {% endfor %}
        </table>
        <br><input type=button value="Voltar" onClick="javascript:history.go(-1);"></center>
{% endblock %}