{% extends 'base.html' %}

{% block head%}
<title>{{title}}</title>
{% endblock %}

{% block body%}
<h1>{{title}}</h1>


<hr>
<form action="proverbios/novo" method='post'>
    <label>Tipo</label><br>
    <input type="text" name="tipo"><br>
    <label>Título</label><br>
    <input type="text" name="title"><br>
    <label>Subtítulo</label><br>
    <input type="text" name="subtitle"><br>
    <label>Título</label><br>
    <input type="text" name="title"><br>
    <label>Título</label><br>
    <input type="text" name="title"><br>
    <label>Título</label><br>
    <input type="text" name="title"><br>
    <label>Título</label><br>
    <input type="text" name="title"><br>
    <label>Título</label><br>
    <input type="text" name="title"><br>
    <label>Título</label><br>
    <input type="text" name="title"><br>
    <label>Título</label><br>
    <input type="text" name="title"><br>
    <label>Título</label><br>
    <input type="text" name="title"><br>
    <label>Título</label><br>
    <input type="text" name="title"><br>
    <label>Título</label><br>
    <input type="text" name="title"><br>
    <input type="submit" value="Submit">
</form>
{% endblock %}