<!DOCTYPE html>
<html>
	<head>
		<style>
		body{
		background-color: aliceblue;
		}
		h1{
		color: red;
		}
		<title>AUTORES DO PORTFÓLIO</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</style>
	</head>

	<body>
		<img alt="logotipo EEUM" src="https://i.ibb.co/9njRV20/EEUM.png"/>
		<h1 style="text-align: center;">AUTORES DO PROJETO</h1>
		
		<center><h2>Publicação Eletrónica 2020/2021</h2><br>
		<hr><br>
		<h3>João Miguel da Silva Alves</h3><br>
		<center><img src="https://i.ibb.co/6DBqmTL/Joaom.png"/></center><br>
		<p><b>Número de aluno:</b> 83624</p>
		<p><b>Email pessoal:</b> <a href="mailto:joaomsalves1999@hotmail.com"> joaomsalves1999@hotmail.com</a></p>
		<p><b>Email institucional:</b> <a href="mailto:a83624@alunos.uminho.pt"> a83624@alunos.uminho.pt</a></p>
		<p><b>GitHub:</b> <a href="https://github.com/Joao231" target="blank"> https://github.com/Joao231</a></p><br><br>

		<h3>Paulo Jorge Alves</h3><br>
		<center><img src="https://i.ibb.co/YQHXWw7/Pauloj.png"/></center><br>
		<p><b>Número de aluno:</b> 84480</p>
		<p><b>Email pessoal:</b> <a href="mailto:paulojorgealves18@gmail.com"> paulojorgealves18@gmail.com</a></p>
		<p><b>Email institucional:</b> <a href="mailto:a84480@alunos.uminho.pt"> a84480@alunos.uminho.pt</a></p>
		<p><b>GitHub:</b> <a href="https://github.com/paulojorge99" target="blank"> https://github.com/paulojorge99</a></p><br><br>

		<br>
		<center><h3>MESTRADO INTEGRADO EM ENGENHARIA BIOMÉDICA</h3></center>
		<center><h3>INFORMÁTICA MÉDICA</h3></center><br>
		<center><br><a href="/">Go back</a></center>
		<br><br>
 </html>