<!DOCTYPE html> 
<html>
	<head>
		<style>
		body{
		background-color: aliceblue;
		}
		h1{
		color: red;
		}
		<title>titulo/title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</style>		
	</head>

	<body>
		<img alt="logotipo EEUM" src="https://i.ibb.co/9njRV20/EEUM.png"/>
		<h1 style="text-align: center;">{{string}}</h1><br><br><br>
		<center><a href="/">Voltar para menu principal</a><br><br></center>
	</body>

</html>