{% extends 'base2.html' %}

{% block content %}
        <div class="w3-panel w3-black" style="margin-left:auto;margin-right:auto;display:block;margin-top:0%;margin-bottom:0%;width:35%">
            <h2 class="w3-opacity" align="center">FUNCIONÁRIO</h2>
                 <form method="POST">
                     {% csrf_token %}
                        {{ form.as_p }}
                     <br><button class="button" type="submit">Login</button>
                 </form>
            Se ainda não possui conta, <a href="/alves_lda/registar_funcionario/"><strong>Registe-se</strong></a>.
            <center><br><a class="inicio" href="/alves_lda/">VOLTAR À PÁGINA INICIAL</a></center>
        </div>

{% endblock %}