<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<header class="w3-container w3-black">
        <div class="w3-container w3-center w3-brand-logo">
            <h1><b>Clínica Alves_LDA<b></h1>
        </div>
 </header>
<head>
    <style>
        body{background-color: lavenderblush;}
    </style>
</head>
{% block content %}
<center><br><br><h1><b>HORÁRIO DE FUNCIONAMENTO:<b></h1>
<br>
    <h3>Segunda a Sábado entre as 9H e as 13H e entre as 14H e as 18H</h3><br>
    <h3><b>Encerrados ao Domingo</b></h3>
    <br><br><br><br>
    <h3><b>Em caso de dúvidas, contacte por email ou telefone, no horário de funcionamento:</b></h3>
    <h3><b>Email: </b>clinicalves@gmail.com</h3>
    <h3><b>Telefone: </b>+351 253100200</h3>

     <br><br><button class="button button4"><a href="/alves_lda/utente/{{username}}/marcar_consulta/">Voltar</a></button>
</center>
{% endblock %}